#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #F3E8D7;
  background-color: #181616;
}

header {
  background-color: #201E1E;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 10vh;
}

main {
  flex-grow: 1;

}

.for-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url('../public/images/jumbo.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

nav img {
  max-height: 100px;
}

a,
.nav-link {
  color: #F3E8D7;
}

a:hover,
.nav-link:hover {
  color: #F2C14E;
}

.btn {
  color: #F3E8D7;
  background-color: #E86A33;
}

.btn:hover {
  color: #F3E8D7;
  background-color: #F2C14E;
  transition: 200ms;
}

.card,
.list-group-item {
  color: #F3E8D7;
  border-color: #F3E8D7;
  background-color: #201E1E;
}

.heading {
  color: #F2C14E;
}

section.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url('../public/images/jumbo.png');
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

footer {
  background-color: #201E1E;
  height: 10vh;
}