<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: head}" />

<body>
  <header th:insert="~{fragments/navbar :: navbar}" />

  <main>
    <div class="container">

      <div th:if="${records.size() > 0}">
        <h2 class="text-center mb-3">Lista di dischi</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Titolo</th>
              <th scope="col">Artista</th>
              <th scope="col">Condizione</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col" sec:authorize="hasAuthority('ADMIN') or hasAuthority('SUPERUSER')"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="record : ${records}" th:object="${record}">
              <td scope="row">[[*{id}]]</td>
              <td>[[*{title}]]</td>
              <td>[[*{artist}]]</td>
              <td>[[*{condition.name}]]</td>
              <td class="text-end"><a class="btn btn-primary btn-sm" th:href="@{/records/{id}(id=*{id})}">Dettaglio</a>
              </td>
              <td class="text-end"><a class="btn btn-warning btn-sm"
                  th:href="@{/records/edit/{id}(id=*{id})}">Modifica</a></td>
              <td class="text-end" sec:authorize="hasAuthority('ADMIN') or hasAuthority('SUPERUSER')">
                <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal"
                  th:data-bs-target="'#delete-modal-' + *{id}">Elimina</button>
              </td>
              <div class="modal fade" th:id="'delete-modal-' + *{id}" tabindex="-1"
                aria-labelledby="'delete-modal-label-' + *{id}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="'delete-modal-label-' + *{id}">Attenzione!</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Stai per cancellare il Disco "[[*{title}]]".
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                      <form th:action="@{/records/delete/{id}(id=*{id})}" method="post">
                        <button class="btn btn-danger" type="submit">Conferma</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>

      <div th:unless="${records.size() > 0}">
        <h2 class="text-center mb-3">La lista di dischi è vuota</h2>
      </div>

      <a href="/records/create" class="btn btn-secondary">Aggiungi Disco</a>
    </div>


  </main>

  <script th:replace="~{fragments/resources :: script}"></script>
</body>

</html>