<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: head}" />

<body>
  <header th:insert="~{fragments/navbar :: navbar}" />

  <main>
    <div class="container" th:object="${record}">



      <span class="mb-5">
        <h2 class="text-center mb-1">[[*{title}]]</h2>
        <h3 class="text-center">by [[*{artist}]]</h3>
      </span>

      <img class="d-block mx-auto mb-4" th:src="*{coverPath}" th:alt="|*{title} cover|" width="600px">

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
          <h3>Stato di conservazione: <strong>[[*{condition.name}]]</strong></h3>
          <a class="btn btn-primary" th:href="@{/conditions}">Visualizza tutti gli Stati</a>
        </li>

        <li class="list-group-item">
          <h4>Anno di stampa: <strong>[[*{pressingYear}]]</strong> <span th:if="*{isFirstPress}">(Prima
              stampa!)</span></h4>
        </li>

        <li class="list-group-item" th:if="*{duration}">
          <h4>Durata del disco: <strong>[[*{duration}]]</strong></h4>
        </li>

        <li class="list-group-item" th:if="*{description}">
          <h4 class="mb-1">Descrizione:</h4>
          <p>[[*{description}]]</p>
        </li>

        <li class="list-group-item">
          <a th:unless="*{listeningLink.isEmpty()}" class="btn btn-success btn-sm" th:href="*{listeningLink}"
            target="_blank">Link
            all'ascolto</a>
          <button th:if="*{listeningLink.isEmpty()}" disabled class="btn btn-success btn-sm">Link
            all'ascolto</button>
        </li>
      </ul>

      <a class="btn btn-warning" th:href="@{/records/edit/{id}(id=*{id})}">Modifica</a>

    </div>
  </main>

  <script th:replace="~{fragments/resources :: script}"></script>
</body>

</html>